In [1]:
import pandas as pd
url = "https://raw.githubusercontent.com/WalePhenomenon/climate_change/master/fuel_ferc1.csv"
fuel_ferc = pd.read_csv(url, error_bad_lines = False)
print(fuel_ferc)

                     record_id  utility_id_ferc1  report_year  \
0        f1_fuel_1994_12_1_0_7                 1         1994
1       f1_fuel_1994_12_1_0_10                 1         1994
2        f1_fuel_1994_12_2_0_1                 2         1994
3        f1_fuel_1994_12_2_0_7                 2         1994
4       f1_fuel_1994_12_2_0_10                 2         1994
...                        ...               ...          ...
29518  f1_fuel_2018_12_12_0_13                12         2018
29519   f1_fuel_2018_12_12_1_1                12         2018
29520  f1_fuel_2018_12_12_1_10                12         2018
29521  f1_fuel_2018_12_12_1_13                12         2018
29522  f1_fuel_2018_12_12_1_14                12         2018

           plant_name_ferc1 fuel_type_code_pudl fuel_unit  fuel_qty_burned  \
0                  rockport                coal       ton        5377489.0
1      rockport total plant                coal       ton       10486945.0
2                    gorgas                coal       ton        2978683.0
3                     barry                coal       ton        3739484.0
4                 chickasaw                 gas       mcf          40533.0
...                     ...                 ...       ...              ...
29518    neil simpson ct #1                 gas       mcf          18799.0
29519  cheyenne prairie 58%                 gas       mcf         806730.0
29520     lange ct facility                 gas       mcf         104554.0
29521       wygen 3 bhp 52%                coal       ton         315945.0
29522       wygen 3 bhp 52%                 gas       mcf          17853.0

       fuel_mmbtu_per_unit  fuel_cost_per_unit_burned  \
0                   16.590                      18.59
1                   16.592                      18.58
2                   24.130                      39.72
3                   23.950                      47.21
4                    1.000                       2.77
...                    ...                        ...
29518                1.059                       4.78
29519                1.050                       3.65
29520                1.060                       4.77
29521               16.108                       3.06
29522                1.059                       0.00

       fuel_cost_per_unit_delivered  fuel_cost_per_mmbtu
0                             18.53                1.121
1                             18.53                1.120
2                             38.12                1.650
3                             45.99                1.970
4                              2.77                2.570
...                             ...                  ...
29518                          4.78                9.030
29519                          3.65                6.950
29520                          4.77                8.990
29521                         14.76                1.110
29522                          0.00               11.680

[29523 rows x 11 columns]

## adding a list to another list using extend

In [10]:
A = [1, 2, 3, 4, 5, 6] 
B = [13, 21, 34]

A.extend(B) 
print(A)

[1, 2, 3, 4, 5, 6, 13, 21, 34]

## sorting values in descending order based on values in the fuel_cost_per_unit_burned column

In [7]:
fuel_ferc.sort_values(['fuel_cost_per_unit_burned'], ascending=[False])

,record_id,utility_id_ferc1,report_year,plant_name_ferc1,fuel_type_code_pudl,fuel_unit,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
25127,f1_fuel_2014_12_147_0_2,147,2014,san juan,oil,bbl,49418.0,6.172572,139358.000,136410.000,22.577
20719,f1_fuel_2011_12_132_1_2,132,2011,solway,oil,bbl,150.0,5.880000,83538.000,137.172,14.207
24577,f1_fuel_2014_12_177_2_7,177,2014,howard bend c.t.,oil,bbl,76.0,5.984286,80459.000,0.000,13.445
21483,f1_fuel_2011_12_7_7_13,7,2011,palo verde 2,nuclear,kgU,467.0,0.066704,69785.215,2834.457,1.046
22991,f1_fuel_2012_12_7_7_13,7,2012,palo verde 2,nuclear,kgU,465.0,0.066706,65137.588,2958.417,0.976
19486,f1_fuel_2010_12_7_7_13,7,2010,palo verde 2,nuclear,kgU,520.0,0.066700,64313.100,0.000,0.964
1583,f1_fuel_1995_12_117_0_10,117,1995,nine mile 1,nuclear,kgU,434.0,0.103331,62609.000,0.000,60.600
24173,f1_fuel_2013_12_7_8_1,7,2013,palo verde 3,nuclear,kgU,438.0,0.066707,61717.765,2997.471,0.925
24172,f1_fuel_2013_12_7_7_13,7,2013,palo verde 2,nuclear,kgU,502.0,0.066706,61619.628,0.000,0.924
24171,f1_fuel_2013_12_7_7_10,7,2013,palo verde 1,nuclear,kgU,472.0,0.066706,60523.666,2926.973,0.907
22990,f1_fuel_2012_12_7_7_10,7,2012,palo verde 1,nuclear,kgU,517.0,0.066706,59113.631,0.000,0.886
23429,f1_fuel_2013_12_147_0_13,147,2013,palo verde (1),nuclear,kgU,495.0,0.066704,58760.000,9353.000,0.881
1584,f1_fuel_1995_12_117_0_13,117,1995,nine mile 2,nuclear,kgU,273.0,0.115065,58505.000,0.000,50.800
22589,f1_fuel_2012_12_147_0_13,147,2012,palo verde (1),nuclear,kgU,504.0,0.066705,58365.000,10129.000,0.875
25229,f1_fuel_2014_12_7_7_13,7,2014,palo verde 2,nuclear,kgU,470.0,0.066706,57623.931,3045.621,0.808
25230,f1_fuel_2014_12_7_8_1,7,2014,palo verde 3,nuclear,kgU,526.0,0.066700,57623.931,0.000,1.037
25228,f1_fuel_2014_12_7_7_10,7,2014,palo verde 1,nuclear,kgU,457.0,0.066708,57623.931,2978.592,0.836
22992,f1_fuel_2012_12_7_8_1,7,2012,palo verde 3,nuclear,kgU,456.0,0.066707,57453.439,2937.399,0.861
25132,f1_fuel_2014_12_147_0_13,147,2014,palo verde (1),nuclear,kgU,509.0,0.066705,55375.000,2725.000,0.830
26690,f1_fuel_2016_12_7_5_14,7,2016,palo verde 1,nuclear,kgU,454.0,0.066704,55098.539,2859.829,0.830
26692,f1_fuel_2016_12_7_6_5,7,2016,palo verde 3,nuclear,kgU,472.0,0.066704,55098.539,2809.712,0.830
26691,f1_fuel_2016_12_7_6_2,7,2016,palo verde 2,nuclear,kgU,520.0,0.066704,55098.539,0.000,0.819
5607,f1_fuel_1998_12_14_0_1,14,1998,pilgrim,nuclear,kgU,494.0,58.397347,54376.000,0.000,0.460
25501,f1_fuel_2015_12_7_7_13,7,2015,palo verde 2,nuclear,kgU,491.0,0.066700,53889.540,2871.754,0.853
25502,f1_fuel_2015_12_7_8_1,7,2015,palo verde 3,nuclear,kgU,466.0,0.066702,53889.540,2805.980,0.795
25500,f1_fuel_2015_12_7_7_10,7,2015,palo verde 1,nuclear,kgU,501.0,0.066702,53889.540,0.000,0.779
21482,f1_fuel_2011_12_7_7_10,7,2011,palo verde 1,nuclear,kgU,430.0,0.066705,53840.568,2913.146,0.807
21119,f1_fuel_2011_12_147_0_13,147,2011,palo verde (1),nuclear,kgU,493.0,0.066705,53245.000,9545.000,0.799
21484,f1_fuel_2011_12_7_8_1,7,2011,palo verde 3,nuclear,kgU,509.0,0.066707,52389.469,0.000,0.785
2383,f1_fuel_1995_12_14_2_5,14,1995,pilgrim,nuclear,kgU,387.0,46.233045,52041.000,0.000,0.440
...,...,...,...,...,...,...,...,...,...,...,...
15558,f1_fuel_2006_12_121_0_14,121,2006,french island,waste,ton,52529.0,0.005850,-24.295,-24.295,-2.076
13052,f1_fuel_2004_12_121_0_14,121,2004,french island,waste,ton,55166.0,0.006046,-30.032,-30.035,-2.484
14289,f1_fuel_2005_12_121_0_14,121,2005,french island,waste,ton,53487.0,0.006038,-31.501,-31.501,-2.609
6031,f1_fuel_1999_12_121_0_14,121,1999,french island,waste,ton,49094.0,0.005790,-33.014,-32.970,-2.851
11888,f1_fuel_2003_12_121_0_14,121,2003,french island,waste,ton,52484.0,0.006599,-34.858,-34.846,-2.641
434,f1_fuel_1994_12_121_0_14,121,1994,french island,waste,ton,51728.0,0.005846,-35.100,-35.380,-3.003
9152,f1_fuel_2001_12_121_0_14,121,2001,french island,waste,ton,47995.0,0.005709,-37.809,-37.790,-3.312
3927,f1_fuel_1997_12_121_0_14,121,1997,french island,waste,ton,46285.0,0.005967,-38.966,-38.972,-3.255
10257,f1_fuel_2002_12_121_0_14,121,2002,french island,waste,ton,39519.0,0.005602,-39.675,-40.195,-3.541
7263,f1_fuel_2000_12_121_0_14,121,2000,french island,waste,ton,44446.0,0.005907,-40.536,-17.008,-3.431
2782,f1_fuel_1996_12_121_0_14,121,1996,french island,waste,ton,47052.0,0.006143,-41.501,-41.501,-41.501
2334,f1_fuel_1995_12_121_0_14,121,1995,french island,waste,ton,47190.0,0.006042,-42.679,-42.290,-3.532
4963,f1_fuel_1998_12_121_0_14,121,1998,french island,waste,ton,48302.0,0.005780,-43.712,-43.747,-3.781
3102,f1_fuel_1996_12_194_5_9,194,1996,rock river unit 1,waste,ton,6495.0,0.013784,-45.130,-44.050,-1.602
3105,f1_fuel_1996_12_194_5_12,194,1996,rock river unit 2,waste,ton,7294.0,0.013772,-45.130,-44.050,-1.670
3108,f1_fuel_1996_12_194_5_15,194,1996,rock river 1 & 2,waste,ton,13789.0,0.013778,-45.130,-44.050,-1.638
2121,f1_fuel_1995_12_194_4_15,194,1995,nelson dewey 1 & 2,waste,ton,1916.0,0.013429,-53.630,-53.560,-1.996
2119,f1_fuel_1995_12_194_4_12,194,1995,nelson dewey unit 2,waste,ton,869.0,0.013429,-53.630,-53.560,-1.996
2117,f1_fuel_1995_12_194_4_9,194,1995,nelson dewey unit 1,waste,ton,1047.0,0.013429,-53.630,-53.560,-1.996
516,f1_fuel_1994_12_194_5_9,194,1994,rock river,waste,ton,4650.0,0.014370,-57.450,-58.800,-2.000
520,f1_fuel_1994_12_194_5_15,194,1994,rock river units 1&2,waste,ton,8881.0,0.014512,-57.470,-58.800,-1.980
518,f1_fuel_1994_12_194_5_12,194,1994,rock river unit 2,waste,ton,4231.0,0.014668,-57.490,-58.800,-1.959
10317,f1_fuel_2002_12_281_1_4,281,2002,sixth street (cont),other,ton,10541.0,0.012657,-59.680,-60.290,-3.100
21081,f1_fuel_2011_12_27_1_3,27,2011,killen 2 deo,waste,ton,14.0,0.006721,-70.884,0.000,-5.273
2125,f1_fuel_1995_12_194_5_12,194,1995,rock river unit 2,waste,ton,5377.0,0.013417,-85.750,-85.640,-3.195
2123,f1_fuel_1995_12_194_5_9,194,1995,rock river unit 1,waste,ton,6072.0,0.013457,-85.760,-85.640,-3.186
11242,f1_fuel_2003_12_281_1_4,281,2003,sixth street (cont),other,ton,1159.0,0.012731,-119.040,-118.340,-5.750
7730,f1_fuel_2000_12_194_2_15,194,2000,nelson dewey unit 1,waste,ton,77.0,0.015500,-123.310,-174.670,-3.978
7736,f1_fuel_2000_12_194_3_6,194,2000,nelson dewey u 1&2,waste,ton,116.0,0.015500,-174.670,-174.670,-5.635
7733,f1_fuel_2000_12_194_3_3,194,2000,nelson dewey unit 2,waste,ton,39.0,0.015500,-276.080,-174.670,-8.906

## calculating average values based on the fuel_type_code_pudl values using groupby

In [9]:
fuel_ferc.groupby(['fuel_type_code_pudl']).mean()

,utility_id_ferc1,report_year,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
fuel_type_code_pudl,,,,,,,
coal,115.637534,2004.623143,1.903473e+06,20.762780,67.421830,116.951141,1.787190
gas,124.122062,2005.978060,4.843183e+06,1.021913,13.659397,12.095172,5.408876
nuclear,107.397311,2002.970660,5.454838e+06,17.582120,4955.157002,28616.915039,1.716559
oil,113.236235,2007.195933,6.311677e+04,5.814377,168.877086,313.907691,12.698732
other,110.467066,2001.700599,2.948137e+06,0.572752,18.253856,16.871485,155.084910
waste,154.253968,2005.650794,1.171914e+05,0.341163,19.518122,18.413052,822.709937

## getting the descriptive statistical data of all the columns in the dataframe

In [11]:
fuel_ferc.describe(include = "all")

,record_id,utility_id_ferc1,report_year,plant_name_ferc1,fuel_type_code_pudl,fuel_unit,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
count,29523,29523.000000,29523.000000,29523,29523,29343,2.952300e+04,29523.000000,29523.000000,2.952300e+04,29523.000000
unique,29523,NaN,NaN,2315,6,9,NaN,NaN,NaN,NaN,NaN
top,f1_fuel_1998_12_87_0_2,NaN,NaN,big stone,gas,mcf,NaN,NaN,NaN,NaN,NaN
freq,1,NaN,NaN,156,11486,11354,NaN,NaN,NaN,NaN,NaN
mean,NaN,118.601836,2005.806050,NaN,NaN,NaN,2.622119e+06,8.492111,208.649031,9.175704e+02,19.304354
std,NaN,74.178353,7.025483,NaN,NaN,NaN,9.118004e+06,10.600220,2854.490090,6.877593e+04,2091.540939
min,NaN,1.000000,1994.000000,NaN,NaN,NaN,1.000000e+00,0.000001,-276.080000,-8.749370e+02,-41.501000
25%,NaN,55.000000,2000.000000,NaN,NaN,NaN,1.381700e+04,1.024000,5.207000,3.778500e+00,1.940000
50%,NaN,122.000000,2006.000000,NaN,NaN,NaN,2.533220e+05,5.762694,26.000000,1.737100e+01,4.127000
75%,NaN,176.000000,2012.000000,NaN,NaN,NaN,1.424034e+06,17.006000,47.113000,4.213700e+01,7.745000
max,NaN,514.000000,2018.000000,NaN,NaN,NaN,5.558942e+08,341.260000,139358.000000,7.964521e+06,359278.000000

## calculating standard deviation and rounding to 2 decimal places

In [12]:
stand = fuel_ferc.std(axis = 0, skipna = True)
print(round(stand,2))

utility_id_ferc1                     74.18
report_year                           7.03
fuel_qty_burned                 9118003.53
fuel_mmbtu_per_unit                  10.60
fuel_cost_per_unit_burned          2854.49
fuel_cost_per_unit_delivered      68775.93
fuel_cost_per_mmbtu                2091.54
dtype: float64

## calculating skewness and rounding to 2 decimal places

In [13]:
stand = fuel_ferc.skew(axis = 0, skipna = True)
print(round(stand,2))

utility_id_ferc1                  0.61
report_year                       0.01
fuel_qty_burned                  15.85
fuel_mmbtu_per_unit               4.14
fuel_cost_per_unit_burned        19.79
fuel_cost_per_unit_delivered    105.01
fuel_cost_per_mmbtu             171.68
dtype: float64

## calculating kurtosis and rounding to 2 decimal places

In [14]:
stand = fuel_ferc.kurtosis(axis = 0, skipna = True)
print(round(stand,2))

utility_id_ferc1                    1.09
report_year                        -1.15
fuel_qty_burned                   651.37
fuel_mmbtu_per_unit                55.60
fuel_cost_per_unit_burned         485.26
fuel_cost_per_unit_delivered    11765.05
fuel_cost_per_mmbtu             29489.13
dtype: float64

## checking for null values and calculating the total number of null values

In [15]:
fuel_ferc.isnull().sum()

record_id                         0
utility_id_ferc1                  0
report_year                       0
plant_name_ferc1                  0
fuel_type_code_pudl               0
fuel_unit                       180
fuel_qty_burned                   0
fuel_mmbtu_per_unit               0
fuel_cost_per_unit_burned         0
fuel_cost_per_unit_delivered      0
fuel_cost_per_mmbtu               0
dtype: int64

In [16]:
percent = (180/29523)*100
print(round(percent,3))

0.61

## calculating average values based on the report_year and sorting in descending order

In [17]:
fuel_ferc.groupby(['report_year']).mean().sort_values(['fuel_cost_per_unit_delivered'], ascending=[False])

,utility_id_ferc1,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
report_year,,,,,,
1997,108.366545,2.813503e+06,10.247632,149.482132,11140.197239,3.113486
1996,108.714154,2.544754e+06,10.778041,79.434995,9196.705948,2.695880
2000,111.083758,2.472032e+06,9.224475,237.797111,985.362877,4.208403
2009,118.139116,2.154993e+06,7.688192,215.699318,652.694163,10.619376
2018,133.669821,4.178890e+06,6.596546,232.992036,499.269966,7.233643
2015,128.591949,3.340131e+06,7.217820,237.933197,326.535511,8.054361
1998,109.845528,3.267453e+06,10.704964,126.683519,287.154420,2.775862
2014,129.263877,2.700008e+06,7.588334,442.359068,192.737183,10.064673
2013,122.082569,2.741505e+06,7.797024,255.991023,172.307591,9.308225
2004,121.123322,1.782547e+06,8.332425,154.897398,139.524275,8.441597
2016,133.117021,3.693289e+06,6.846478,247.083959,103.901761,6.915613
2010,117.992863,2.423720e+06,7.575013,262.951203,91.862105,8.551217
1994,106.120648,2.724018e+06,10.638098,213.191996,63.636060,3.086977
2012,120.769912,2.747094e+06,7.796063,258.804138,60.994502,8.808904
2001,113.521386,2.321402e+06,8.371469,133.013010,60.050396,4.612658
2011,121.069355,2.461332e+06,7.786182,301.754519,59.774667,9.237591
2008,120.785016,2.046455e+06,7.892854,255.954415,58.588197,12.690115
2003,123.300578,1.888622e+06,8.403746,123.183919,55.663493,7.223933
2002,120.354357,2.145645e+06,8.304833,101.179365,47.594361,6.226281
2017,131.126888,3.352850e+06,6.781353,246.281796,46.196861,368.736351
2007,116.040348,2.035696e+06,8.027581,202.622082,43.325023,10.735181
2005,121.028369,1.768876e+06,8.135972,107.111221,41.438184,9.397078
2006,117.178600,1.957264e+06,8.138090,151.361249,38.657484,10.339898
1995,110.139051,3.712067e+06,10.644830,354.422555,32.735269,2.868838
1999,108.222857,3.281281e+06,10.558885,120.053605,25.551627,2.740251